<footer class="px-3">
    <h6 class="text-muted">Developed by <a href="https://www.linkedin.com/in/martin-diego-pedraza/" target="_blank" class="text-muted">Martin Pedraza</a></h6>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>
