<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand m-2" href="/" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Home"><i class="bi bi-house-door-fill"></i></a>
      <ul class="nav justify-content-center">
        <li class="nav-item m-2"><a href="/create" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Create a new slide"><i class="bi bi-plus-circle-fill"></i></a></li>
        <li class="nav-item m-2"><a href="/list/removed/#section" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="View removed slides"><i class="bi bi-eye-fill"></i></a></li>
        <li class="nav-item m-2"><a href="/list/edit-remove/#section" class="btn btn-outline-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Edit slides"><i class="bi bi-pencil-square"></i></a></li>
        <div class="btn-group dropstart nav-item m-2">
          <button class="btn btn-outline-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-trash3-fill"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/list/removed/#section">Delete slide</a></li>
            <li><a class="dropdown-item" href="/list/edit-remove/#section">Remove slide</a></li>
          </ul>
        </div>
      </ul>
    </div>
</nav>  