<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head') %>

	<body>
		<%- include('./partials/nav') %>

		<main class="container pb-3">
			<form action="/create" method="post" enctype="multipart/form-data">
				<div class="my-3">
					<label for="title" class="form-label fw-bold">Title</label>
					<input type="text" class="form-control" id="title" name="title" />
				</div>
				<div class="mb-3">
					<label for="message" class="form-label fw-bold">Message</label>
					<textarea
						class="form-control"
						id="message"
						rows="3"
						name="description"
					></textarea>
				</div>
				<div class="mb-3">
					<label for="formFile" class="form-label fw-bold">Slide image</label>
					<input
						class="form-control"
						type="file"
						id="formFile"
						name="img"
						required
					/>
				</div>
				<div class="my-3">
					<button class="btn btn-lg btn-dark" type="submit">
						Create slide
					</button>
				</div>
			</form>
		</main>

		<%- include('./partials/footer') %>
	</body>
</html>
